extends ../layout/index

block styles 
    meta(name="csrf-token" content= csrfToken)
    link(rel="stylesheet", href="/css/tags.css")
    link(rel="stylesheet", href="/css/createPost/privacy.css")
    link(rel="stylesheet", href="/css/createPost/allCategories.css")
    link(rel="stylesheet", href="/css/createPost/watermarkOptions.css")
    
block contenido
    include ../layout/header

    main(class="md:pt-10 relative")
        div(class="min-h-screen h-fit md:min-h-fit md:h-fit md:w-4/6 rounded-md shadow-md m-auto bg-white md:max-w-5xl relative md:mb-8")
            form(id="form" action="/publications/add-image" method="POST" enctype="multipart/form-data" class="relative h-fit") 
                //--aa
                #privacyOptionsAndPhoto(class="p-4 h-fit") 
                    div#privacyOptionsContent(class=" bg-white flex flex-col justify-center rounded-md w-36 z-50")
                        
                        div#optionPrivacySelected
                            span(class="privacy flex items-center p-2 pl-3 text-principal-gray space-x-2 cursor-pointer")
                                i#iconPrivacy(class="fa-solid fa-globe text-2xl")
                                p#textPrivacy Publica
                                i#btnViewOptions(class="fa-solid fa-caret-down")

                        div#privacyOptions(class="hidden border border-principal-gray rounded shadow-md w-full divide-y")
                            input(type="radio" name="privacyItem" id="privacy-public" class="privacy-input hidden" value='public' checked)
                            label(for="privacy-public" class="privacy flex items-center p-2 pl-3 hover:bg-gray-input text-principal-gray space-x-2 cursor-pointer")
                                i(class="fa-solid fa-globe text-2xl")
                                p Publica

                            input(type="radio" name="privacyItem" id="privacy-protected" class="privacy-input hidden" value='protected')
                            label(for="privacy-protected" class="privacy flex items-center p-2 pl-3 hover:bg-gray-input text-principal-gray space-x-2 cursor-pointer")
                                i(class="fa-solid fa-shield text-2xl")
                                p Protegida

                            input(type="radio" name="privacyItem" id="privacy-private" class="privacy-input hidden" value='private')
                            label(for="privacy-private" class="privacy flex items-center p-2 pl-3 hover:bg-gray-input text-principal-gray space-x-2 cursor-pointer")
                                i(class="fa-solid fa-lock text-2xl")
                                p Privada

                    div(class="w-44 float-right mr-4 hidden sm:block")
                        .moreInfoPostType(class="h-fit hidden") 
                            a(href="/publications/types" class="text-blue-700 w-full flex justify-evenly group" target="_blank") 
                                span(class="group-hover:underline") Tipos de publicaci칩n
                                i(class="fa-solid fa-circle-info text-2xl md:text-xl")

                        img#photoPostSecondary(class="hidden w-28 float-right p-1 mt-3")

                //--aa
                #photoData(class="relative md:min-h-fit")
                    h1(class="text-center text-lg text-secondary-gray md:text-principal-gray md:text-2xl font-semibold absolute top-[-26px] right-2 md:left-1/2 transform md:-translate-x-1/2 -translate-y-1/2") Nueva publicaci칩n

                    div(class="md:px-16 p-4 mt-8") 
                        
                        div(class="lg:border border-dashed border-principal-gray w-full h-fit lg:h-40 rounded lg:flex lg:items-center lg:bg-polished-white")

                            div(class="preview lg:flex-1 lg:h-full py-3 lg:flex space-x-2")
                                img(id="image" class="h-full lg:ml-6 m-auto lg:m-0")

                                div(class="infoImg hidden lg:w-2/5 h-full py-3 space-x-1 lg:space-y-2 flex lg:flex-col")
                                    p#resolutionImg(class="font-bold text-sm bg-green-100 text-green-800 p-1 min-w-1/2 w-fit rounded text-center")
                                    p#sizeImg(class="font-bold text-sm lg:text-xs bg-red-100 text-red-800 p-1 w-fit rounded text-center")

                            div(class="btnsImg lg:w-1/5 lg:h-full flex justify-around lg:flex-col lg:justify-center lg:items-center lg:space-y-4 lg:mx-4")
                                label(for="file" class="max-w-xs bg-principal-gray text-white p-2 mr-1 cursor-pointer text-center w-9/12 lg:w-[90%] font-bold hover:opacity-80")
                                    span Seleccionar Imagen 
                                input(type="file" name="image" id="file" class="hidden" accept="image/png,image/jpeg,image/jpg")
                                button#deleteImg(class="hidden max-w-[200px] bg-white text-principal-gray border-2 border-principal-gray p-2 md:p-1 cursor-pointer w-3/12 md:w-2/3 font-bold hover:opacity-80") Eliminar

                        span(id="errImage").text-red-500.text-xs.hidden


                        div.px-6.flex.flex-col.gap-4.mt-8
                            input(id="title" type="text" name="title" placeholder="Agrega un titulo" class="border-b-2 border-secondary-gray text-xl focus:outline-none pb-1 pl-3 m-auto w-full")
                            span(id="errTitle").text-red-500.text-xs.hidden

                            
                            .section-categories
                                .categories-info(class="flex justify-between") 
                                    p(class="text-lg") Categor칤as 
                                    button#btnViewAllCategories(type="button" class="text-sm text-blue-400 hover:text") Ver todo 
                                .categories-content(class="w-full h-[120px] flex items-center")
                                    button#btnLeft(type="button" class="w-1/12 h-full cursor-pointer z-20 bg-white hover:opacity-90")
                                        i(class="fa-solid fa-circle-chevron-left text-3xl text-principal-gray")
                                    .categories(class="w-10/12 h-full flex items-center overflow-hidden")
                                        .calle(class="flex transition-transform duration-300 ease")
                                            each category in categories 
                                                input(type="radio" name="category" id=`category-${category.id}` value=`${category.id}` class="hidden")
                                                label.category-content(for=`category-${category.id}` class="w-fit h-full mx-2")
                                                    .category(class="rounded-full w-20 h-20 bg-cover bg-center bg-no-repeat cursor-pointer shadow-lg transition-all duration-300 ease" style=`background-image: url(/img/backgroundsCategories/${category.image})`)
                                                    p(class="text-principal-gray text-sm text-center mt-1")= category.name
                                    button#btnRight(type="button" class="w-1/12 h-full cursor-pointer z-20 bg-white hover:opacity-90")
                                        i(class="fa-solid fa-circle-chevron-right text-3xl text-principal-gray")
                                span(id="errCategory").text-red-500.text-xs.hidden

                            div 
                                .flex.justify-between.items-center
                                    label(for="tag") Etiquetas 
                                    span(id="errTag").text-red-500.text-xs.hidden
                                input(id="tag" type="text" placeholder="Ingrese sus etiquetas ( presione enter para agregar )" class="block w-full border border-secondary-gray rounded-md py-1.5 pl-4 focus:outline-none")
                                ul(id="tags").w-full.flex.gap-2

                        div(class="mt-10 flex justify-center sm:justify-end")
                            button#btnContinue(type="button" class="bg-principal-gray text-white font-normal max-w-xs w-4/5 sm:max-w-[200px] sm:w-2/5 hover:opacity-80")
                                .my-3.mx-4.flex.justify-between
                                    span.w-full.text-white.font-bold Continuar
                                    img(src="/img/project/arrow-right.svg", alt="").w-6.ml-4

                #modalAllCategories(class="absolute z-50 top-0 left-0 h-full w-full bg-white overflow-auto transition-all duration-200 ease-in-out ocultar")
                    .topDialog(class="flex justify-between px-4 py-2 bg-gradient-to-r from-gray-input to-transparent mt-4 md:mt-0") 
                        .title(class="flex items-center text-2xl text-principal-gray space-x-2") 
                            i(class="fa-solid fa-icons")
                            h6 Todas las categorias
                        button#btnCloseAllCategories(type="button" class="w-8 h-8 rounded-full shadow-xl border-t border-gray-input hover:border-b") X
                    .search-section
                        .search-content(class="relative text-principal-gray m-4") 
                            input#search(type="search", name="" placeholder="Buscar" class="w-40 p-2 pl-9 rounded-full outline-none opacity-80 bg-gray-input focus:w-64 focus:opacity-100 transition-all duration-200 ease-in-out") 
                            i(class="fa-solid fa-magnifying-glass absolute top-1/2 left-2 transform translate-y-[-50%]")
                    .allCategories

                #policyData(class="z-40 w-full h-full px-4 hidden")
                    div(class="mt-8")
                        .postType(class="flex justify-between relative")
                            span(id="errTypes" class="absolute top-[-26px]").text-red-500.text-xs.hidden
                            .types(class="flex gap-4")
                                div
                                    input(type="radio" name="typePost" id="input-free" value="free" class="hidden peer" checked)
                                    label#typeLibre(for="input-free" class="w-36 h-24 bg-gray-input rounded-2xl flex flex-col justify-center items-center cursor-pointer peer-checked:border peer-checked:border-principal-gray transition-all duration-300 ease-in-out")
                                        p(class="text-xl text-center pt-4 text-principal-gray my-2") Libre
                                        i(class="fa-solid fa-dove text-6xl text-principal-gray")

                                div
                                    input(type="radio" name="typePost" id="input-sale" value="sale" class="hidden peer")
                                    label#venta(for="input-sale" class="flex flex-col lg:flex-row items-center bg-gray-input lg:bg-transparent rounded-2xl cursor-pointer peer-checked:border peer-checked:border-principal-gray lg:peer-checked:border-r-0 lg:peer-checked:border-b-0 lg:rounded-e-md transition-all duration-300 ease-in-out")
                                        #typeVenta(class="w-36 h-24 sm:bg-gray-input rounded-2xl flex flex-col justify-center items-center")
                                            p(class="text-xl text-center pt-4 text-principal-gray my-2") Venta
                                            i(class="fa-solid fa-sack-dollar text-6xl text-principal-gray")

                                        .typesVenta(class="flex flex-col h-0 justify-center gap-3 max-w-28 transition-all duration-300 ease-in-out overflow-hidden")
                                            div(class="flex items-center ml-3 gap-1")
                                                input(type="radio" name="typeSale" value="general" id="venta-general" class="appearance-none w-5 h-5 border-2 border-principal-gray rounded-full outline-none checked:bg-principal-gray checked:border-black cursor-pointer" checked)
                                                label(for="venta-general" class="cursor-pointer") Venta General
                                            div(class="flex items-center ml-3 gap-1")
                                                input(type="radio" name="typeSale" id="venta-unica" value="unique" class="appearance-none w-5 h-5 border-2 border-principal-gray rounded-full outline-none checked:bg-principal-gray checked:border-black cursor-pointer")
                                                label(for="venta-unica" class="cursor-pointer") Venta Unica
                                            span(id="errTypeSale" class="absolute bottom-[-20px]").text-red-500.text-xs.hidden
                        
                        .container-input-price(class="mt-8 opacity-0 h-0 hidden transition-all duration-300 ease") 
                            p(class="text-2xl") Precio
                            div
                                input#input-price(type="text" name="price" placeholder="AR$0.00" class="appearance-none w-48 h-10 text-xl text-right border-2 border-secondary-gray p-1 pr-2 focus:outline-none")
                                select(name="currency" class="text-xl h-10 bg-gray-input border-0 p-1")
                                    option(value="ars" selected class="cursor-pointer") ARS 游뷣릖
                        span(id="errPrice").text-red-500.text-xs.hidden
                        span(id="errCurrency").text-red-500.text-xs.hidden.block


                        section#sectionLicenses(class="mt-10")   
                            h7(class="text-2xl my-2") Licencias 
                            //-Unique no tiene licencias
                            #unique-licences(class="hidden")
                                p(class="text-red-500") 
                                    i(class="fa-solid fa-triangle-exclamation mr-1")
                                    span No es necesario elegir una licencia para este tipo de venta
                                p(class="mt-4 text-gray-400") Puedes colocar una marca de agua personalizada
                                button(type="button" id="btnChooseWatermark" class="bg-gray-600 text-white p-3 flex gap-3 items-center hover:opacity-90") 
                                    i(class="fa-solid fa-droplet")
                                    span Cambiar marca de agua


                            #licenses(class="space-y-4")
                                //- Cargar licencias segun opcion libre o venta
                                //- Primero cargaremos las opciones de licencias Libre ya que esta seleccionado por defecto
                                each license in rightsOfUse
                                    .license(class="h-fit bg-gray-input flex rounded-lg px-3 py-5") 
                                        .main-license(class="w-11/12")
                                            .header-license(class="flex items-center gap-4 pb-3") 
                                                p.name-license(class="text-2xl font-extrabold")= license.name 
                                                //- Valida que no sea ni public domain, copyright o copyleft porque son imgs mas grandes
                                                img.img-license(src=`/img/licenses/${license.image_url}` class=`${license.id != 1 && license.id != 2 && license.id != 6 ? 'w-20' : 'w-8'} min-h-8`)
                                            div
                                                p.description-license(class="text-lg font-semibold")= license.description
                                        
                                        .radio-license(class="w-1/12 grid place-content-center")
                                            input(type="radio" name="license" id=`license-${license.id}` value=license.id class="hidden" checked=(license.id == 1))
                                            label.modified-radio(for=`license-${license.id}` class="w-5 h-5 border-4 border-principal-gray rounded-full cursor-pointer hover:bg-gray-300 inline-block relative")
                                                span.radio-select(class=`absolute top-0 left-0 w-full h-full rounded-full border-2 border-white ${license.id == 1 ? 'bg-black' : ''}`)
                                

                    div(class="btns2 mt-10 pt-5 flex justify-between gap-1 w-full")
                            button#btnBack(type="button" class="bg-principal-gray text-white font-normal max-w-xs w-4/5 sm:max-w-[200px] sm:w-2/5 hover:opacity-80")
                                .my-3.mx-4.flex.justify-between
                                    img(src="/img/project/arrow-left.svg", alt="").w-6.ml-4
                                    span.w-full.text-white.font-bold Atras
                            button#btnSave(type="submit" class="bg-principal-gray text-white font-normal max-w-xs w-4/5 sm:max-w-[200px] sm:w-2/5 hover:opacity-80")
                                .my-3.mx-4.flex.justify-between
                                    span.w-full.text-white.font-bold Subir
                                    img(src="/img/project/upload.svg", alt="").w-6.ml-4

                #modalCopyright(class="hidden z-40 h-full w-full px-6 py-7")
                    div 
                        h2(class="text-3xl mt-2") Puedes a침adir una marca de agua 
                        p(class="text-slate-700 text-lg mt-1 w-11/12") Al elegir la licencia Copyright puedes a침adir una marca de agua personalizada o dejar la que fotaza tiene por defecto
                    .watermarkOptions(class="flex justify-evenly mt-12 gap-2") 
                        
                        input(type="radio" class="hidden" name="optionWatermark" id="default-watermarker" value="default" checked)
                        div(class="w-36 h-36 sm:w-56 sm:h-56 bg-gray-200 shadow-2xl rounded-xl transition-all duration-300 ease hover:opacity-80")
                            label.optionWatermark(for="default-watermarker" class="w-full h-full cursor-pointer") 
                                img(src="/img/project/exampleWatermarker.jpg", alt="Marca de agua por defecto" class="w-full h-3/4 rounded-t-xl")
                                div(class="w-full h-1/4 grid place-content-center")
                                    span(class="text-xl font-semibold italic") Fotaza

                        input(type="radio" class="hidden" name="optionWatermark" id="personalized-watermarker" value="customized")
                        div(class="w-36 h-36 sm:w-56 sm:h-56 bg-gray-200 shadow-2xl rounded-xl transition-all duration-300 ease hover:opacity-80")
                            label.optionWatermark(for="personalized-watermarker" class="w-full h-full cursor-pointer") 
                                img(src="/img/project/exampleWatermarkerPersonalize.jpg", alt="Marca de agua por defecto" class="w-full h-3/4 rounded-t-xl")
                                div(class="w-full h-1/4 grid place-content-center")
                                    span(class="text-xl font-semibold italic") Personalizar
                        
                    
                    #watermarkData(class="hidden mt-8")
                        header 
                            h3(class="text-2xl") A침adir logo personalizado 
                            p(class="text-slate-700 ") *Debe ser en formato .png y recuerda que su fondo sea transparente
                       
                        main(class="px-14") 
                            
                            p(class="text-gray-300 text-xs mr-2 mb-1 mt-4 text-end") (Opcional)
                            //- Ingreso de imagen
                            div(class="border border-dashed border-principal-gray w-full h-fit min-h-[160px] rounded  sm:flex sm:items-center bg-polished-white")

                                div(class="preview flex-1 h-full py-3 flex space-x-2 justify-center sm:justify-start")
                                    img(id="imageWatermark" class="h-full lg:ml-6 sm:m-auto lg:m-0 max-w-[150px]")

                                    #infoImgWater(class="w-0 h-0 sm:w-fit sm_h-fit lg:w-2/5 py-3 space-x-1 lg:space-y-2 sm:flex flex-col")
                                        p#resolutionImgWater(class="font-bold text-sm bg-green-100 text-green-800 p-1 min-w-1/2 w-fit rounded text-center hidden sm:block")
                                        p#sizeImgWater(class="font-bold text-sm lg:text-xs bg-red-100 text-red-800 p-1 w-fit rounded text-center hidden sm:block")

                                div(class="btnsImgWater sm:w-1/5 sm:h-full flex sm:flex-col justify-center items-center sm:space-y-4 mx-4 m-auto pb-2")
                                    label(for="fileWatermark" class="bg-principal-gray border-2 border-principal-gray text-white p-2 mr-1 cursor-pointer text-center font-bold hover:opacity-80")
                                        span Seleccionar 
                                    input(type="file" name="imageWatermark" id="fileWatermark" class="hidden" accept="image/png")
                                    
                                    button#deleteImgWater(class="hidden max-w-[200px] bg-white text-principal-gray border-2 border-principal-gray p-2 md:p-1 cursor-pointer md:w-2/3 font-bold hover:opacity-80 min-w-fit") Eliminar
                            
                            span(id="errImageWater").text-red-500.text-xs.hidden

                            //-Ingreso texto personalizado
                            div(class="my-4") 
                                .flex.justify-between.items-center
                                    div.flex.items-center
                                        label(for="customTextWater") Texto personalizado  
                                    span(id="errCustomTextWater").text-red-500.text-xs.hidden
                                input(id="customTextWater" type="text" name="textWatermark" placeholder="Ej. Fotaza" class="block w-full border border-secondary-gray rounded-md py-2 px-2 focus:outline-none" maxlength="20")
                                
                    //--Btn guardar cambios
                    div(class="mt-10 flex justify-center sm:justify-end")
                        button#btnSavedWatermark(type="button" class="bg-principal-gray text-white font-normal max-w-xs sm:max-w-[200px] hover:opacity-80 w-40")
                            .my-3.mr-4.flex.justify-between
                                span.w-full.text-white.font-bold Guardar
                                i(class="fa-solid fa-check text-2xl")
    
            //--aa
            #btnsCircle(class="circlesForm text-center space-x-2 pb-3 mt-3 sm:mt-[-20px] text-principal-gray z-50")
                i(class="fa-solid fa-circle")
                i(class="fa-regular fa-circle")

        #alert(class="hidden flex items-center bg-blue-500 text-white text-sm font-bold px-4 py-3 absolute top-0 left-1/2 transform -translate-x-1/2 -translate-y-1/2" role="alert")
            i(class="fa-solid fa-info mr-4")
            p#infoMessage

    template#categoryOfAll 
        //-input(type="radio" class="hidden" name="category")
        label.category-content(class="w-fit h-full")
            .category(class="rounded-full w-20 h-20 bg-cover bg-center bg-no-repeat cursor-pointer shadow-lg transition-all duration-300 ease")
            p#name(class="text-principal-gray text-sm text-center mt-1 w-fit")              

    template#templateLicense 
        .license(class="h-fit bg-gray-input flex rounded-lg px-3 py-5")  
            .main-license(class="w-11/12")
                .header-license(class="flex items-center gap-4 pb-3")  
                    p.name-license(class="text-2xl font-extrabold") 
                    img.img-license(class="min-h-8")
                div
                    p.description-license(class="text-lg font-semibold")
            .radio-license(class="w-1/12 grid place-content-center") 
                input(type="radio" name="license" class="hidden")
                label.modified-radio(class="w-5 h-5 border-4 border-principal-gray rounded-full cursor-pointer hover:bg-gray-300 inline-block relative")
                    span.radio-select(class="absolute top-0 left-0 w-full h-full rounded-full border-2 border-white")


block scripts
    script(src="/js/addPublication.js")
    script(src="/js/privacyOptions.js")
    script(src="/js/categoriesOptions.js")
    script(src="/js/allCategories.js") 
    script(src="/js/multiStageForm.js") 
    script(src="/js/salePublication.js") 
    script(src="/js/licenses.js") 
    script(src="/js/watermark.js") 
    script(src="https://kit.fontawesome.com/e6a1497caa.js" crossorigin="anonymous")