extends ../layout/index

block styles 
    meta(name="csrf-token" content= csrfToken)
    link(rel="stylesheet", href="/css/rating.css", attr)


block contenido
    include ../layout/header
    
    main
        div(class="flex justify-between mx-10 mt-10")
            div.w-16.border-2.border-principal-gray.cursor-pointer.shadow.flex
                img(src=userPost.image_url , alt="Imagen de perfil") 
                div(class="ml-3") 
                    p.font-bold= `${userPost.name } ${userPost.lastname }`
                    p.text-secondary-gray= userPost.username

            div.flex.items-center.relative
                a(href=`/publications/${publication.id}/download`) 
                    button#btnSendCategories(class="bg-principal-gray flex items-center justify-between hover:bg-secondary-gray h-11 w-40")
                        span.w-full.text-white Descargar
                        img(src="/img/project/download.svg", alt="").w-6.mr-2
                if user
                    button#btnOptions(class="bg-transparent")
                        img(src="/img/project/options.svg", alt="").w-8.ml-2
                    div#optionsPublication(class="hidden absolute bg-secondary-gray top-16 right-4 w-2/3 rounded-[10px] rounded-tr-[0px] p-3 shadow-md")
                        a(href=`/publications/${publication.id}/edit` class="flex justify-around items-center hover:transform hover:scale-110")
                            p.text-white Editar 
                            i(class="fa-solid fa-pen text-white")
                        hr.my-2
                        a(href=`/publications/${publication.id}/delete` class="flex justify-around items-center hover:transform hover:scale-110")  
                            p.text-red-700 Eliminar 
                            i(class="fa-solid fa-trash text-red-700")

        div(class="flex flex-col items-center mt-3") 
            div(class="flex justify-between items-center w-2/3 mb-2")
                h1(class="text-4xl text-secondary-gray font-bold")= publication.title 
                .rating.flex.gap-2
                    i(class="fa-solid fa-star star")
                    i(class="fa-solid fa-star star")
                    i(class="fa-solid fa-star star")
                    i(class="fa-solid fa-star star")
                    i(class="fa-solid fa-star star")
            
            div(class="w-2/3 flex justify-center")
                img(src=`/uploads/${publication.image}`, alt=`${publication.title}` style="max-height:500px")

        div.flex.justify-between.mx-10.my-4
            .category.flex.gap-4.items-center
                h3.font-bold.text-secondary-gray.text-2xl.underline= category.name
                each tag in tags
                    a(href="#") 
                        p(class="text-slate-500 bg-slate-200 w-24 rounded-lg text-center")= tag.name

            .rightOfUse.flex.items-center.relative
                div#infoRightOfUse(class="hidden absolute bottom-10 bg-secondary-gray text-xs p-2 text-polished-white rounded-[10px] rounded-br-[0px]")
                    p= rightOfUse.description
                p.text-principal-gray.text-xl.underline= rightOfUse.name
                img#btnInfoRightOfUse(src="/img/project/info.svg", alt="" class="ml-2 w-5 cursor-pointer")

        #sectionBottom(class="w-full flex px-10") 
            if user
                #comments(class="w-2/6") 
                    h2(class="text-3xl my-4") Comentarios 
                    .myComment(class="flex items-start mb-8")
                        img(src=user.image_url, alt="" class="w-14 mr-2")
                        div(class="bg-gray-200 rounded-[10px] rounded-tl-[0px] w-full")
                            textarea#commentText(name="commentText" placeholder="Agrega un comentario" class="bg-transparent p-3 pl-6 w-full h-20 outline-none resize-none")
                            div.flex.items-center.justify-between
                                div(class="flex text-xs ml-4 text-principal-gray")
                                    p#countText 0 
                                    span /500
                                span#commentError(class="invisible text-red-600 ml-4 text-xs")
                                button#btnComment(class="rounded-lg shadow-lg border border-principal-gray float-right p-[5px] px-4 m-2 mr-4 hover:bg-gray-input") Comentar

                    #generalComments
                        if comments.length == 0
                            div#noComments
                                p(class="text-2xl text-gray-500 text-center") Todavia no hay comentarios 
                                img(src="/img/project/comments.svg", alt="No comments" class="m-auto my-5 w-40")
                        
                        if comments.length > 0
                            each comment in comments 
                                div(class="comment mb-8")
                                    div.flex                
                                        div(class="w-14 h-14 mr-2 bg-cover bg-center bg-no-repeat" style=`background-image: url(${comment.user.image_url})`) 
                                        
                                        div(class="flex flex-col w-full")
                                            div(class="flex justify-between w-full mt-[-10px]")
                                                p.font-bold.text-principal-gray= `${comment.user.name} ${comment.user.lastname}`
                                                p.text-gray-600.text-sm= comment.timeThatPassed
                                            div(class="bg-gray-200 rounded-[10px] rounded-tl-[0px] min-h-[50px] p-3 pl-5 relative") 
                                                if comment.user_id == user.id
                                                    button(class="btnCommentOptions absolute right-2 top-0")
                                                        img(src="/img/project/options-horizontal.svg", alt="comment options" class="w-4 cursor-hover")
                                                    div(class="hidden commentOptions absolute bg-gray-200 top-4 right-0 w-28 shadow-xl border border-gray-400 rounded") 
                                                        div(class="btnCommentDelete flex justify-around items-center hover:bg-gray-300 p-3 cursor-pointer" data-comment-id= comment.id)
                                                            i(class="fa-solid fa-trash text-red-700 text-xs")
                                                            p.text-red-700.text-xs Eliminar 
                                                           
                                                p= comment.description

                            div(class="seeMore w-fit m-auto text-center cursor-pointer rounded-3xl p-2 hover:bg-gray-200")
                                p(class="mb-[-5px]") Ver más
                                i(class="fa-solid fa-angles-down")

            #rightSectionBottom(class="w-3/5") 
                #ratingSection 
                #recomendations




    div#alertLogin(class="w-full h-screen fixed bottom-0 left-0 flex items-center justify-center bg-neutral-800 bg-opacity-40").hidden
        div(class="w-2/5 bg-white p-10 text-center relative")
            i#btnCloseAlertLogin(class="fa-solid fa-xmark absolute left-3 top-3 cursor-pointer")
            div 
                h4.font-medium.text-4xl.mb-2 Inicia Sesion 
                p Debes iniciar sesión para poder calificar la imagen
            a(href="/auth/login") 
                button#btnGoLogin(class="mt-10 bg-principal-gray hover:bg-secondary-gray h-11 w-52 m-auto text-polished-white") Ir a iniciar sesión


    template#templateComment
        div(class="comment mb-8")
            div.flex                
                div(class="commentUserImage w-14 h-14 mr-2 bg-cover bg-center bg-no-repeat" style=`background-image: url(${user.image_url})`) 
                
                div(class="flex flex-col w-full")
                    div(class="flex justify-between w-full mt-[-10px]")
                        p.commentFullName.font-bold.text-principal-gray= `${user.name} ${user.lastname}`
                        p.commentTimeThatPassed.text-gray-600.text-sm

                    div(class="bg-gray-200 rounded-[10px] rounded-tl-[0px] min-h-[50px] p-3 pl-5 relative") 
                        button(class="btnCommentOptions absolute right-2 top-0")
                            img(src="/img/project/options-horizontal.svg", alt="comment options" class="w-4 cursor-hover")
                        div(class="hidden commentOptions absolute bg-gray-200 top-4 right-0 w-28 shadow-xl border border-gray-400 rounded") 
                            div(class="btnCommentDelete flex justify-around items-center hover:bg-gray-300 p-3 cursor-pointer")
                                i(class="fa-solid fa-trash text-red-700 text-xs")
                                p.text-red-700.text-xs Eliminar 

                        p.commentDescription
                        
block scripts
    script(src="https://kit.fontawesome.com/e6a1497caa.js" crossorigin="anonymous")
    script(src="/js/rating.js")
    script(src="/js/clicksPublication.js")
    script(src="/js/addComment.js")