extends ../layout/index

block styles 
    meta(name="csrf-token" content= csrfToken)
    meta(name="my-id" content= myId)
    link(rel="stylesheet", href="/css/rating.css", attr)
    link(rel="stylesheet", href="/css/tags.css")
    link(rel="stylesheet", href="/css/sliderRecomendations.css")


block contenido
    include ../layout/header
    
    main
        div(class="flex justify-between mx-10 mt-10")
            div.flex
                div(class="w-14 h-14 mr-2 bg-cover bg-center bg-no-repeat border-2 border-principal-gray cursor-pointer shadow" style=`background-image: url(${userPost.image_url ? `/img/profiles/${userPost.image_url}` : '/img/profiles/profilePredeterminated.png'})`) 
                div(class="ml-3") 
                    p.font-bold= `${userPost.name } ${userPost.lastname }`
                    p.text-secondary-gray= userPost.username

            div.flex.items-center.relative
                a(href=`/publications/${publication.id}/download`) 
                    button#btnSendCategories(class="bg-principal-gray flex items-center justify-between hover:bg-secondary-gray h-11 w-40")
                        span.w-full.text-white Descargar
                        img(src="/img/project/download.svg", alt="").w-6.mr-2
                if user.id === userPost.id
                    button#btnOptions(class="bg-transparent")
                        img(src="/img/project/options.svg", alt="").w-8.ml-2
                    div#optionsPublication(class="hidden absolute bg-secondary-gray top-16 right-4 w-2/3 rounded-[10px] rounded-tr-[0px] p-3 shadow-md")
                        button#btnEdit(class="w-full flex justify-around items-center hover:transform hover:scale-110")
                            p.text-white Editar 
                            i(class="fa-solid fa-pen text-white")
                        hr.my-2
                        button#btnDelete(class="w-full flex justify-around items-center hover:transform hover:scale-110")  
                            p.text-red-700 Eliminar 
                            i(class="fa-solid fa-trash text-red-700")

        div(class="flex flex-col items-center mt-3") 
            div(class="flex justify-between items-center w-2/3 mb-2")
                h1(class="text-4xl text-secondary-gray font-bold")= publication.title 
                .rating.flex.gap-2
                    i(class="fa-solid fa-star star")
                    i(class="fa-solid fa-star star")
                    i(class="fa-solid fa-star star")
                    i(class="fa-solid fa-star star")
                    i(class="fa-solid fa-star star")
            
            div(class="w-2/3 flex justify-center")
                img(src=`/uploads/${publication.image}`, alt=`${publication.title}` style="max-height:500px")

        div.flex.justify-between.mx-10.my-4
            .category.flex.gap-4.items-center
                h3.font-bold.text-secondary-gray.text-2xl.underline= category.name
                each tag in tags
                    a(href="#") 
                        p(class="text-slate-500 bg-slate-200 w-24 rounded-lg text-center")= tag.name

            .rightOfUse.flex.items-center.relative
                div#infoRightOfUse(class="hidden absolute bottom-10 bg-secondary-gray text-xs p-2 text-polished-white rounded-[10px] rounded-br-[0px]")
                    p= rightOfUse.description
                p.text-principal-gray.text-xl.underline= rightOfUse.name
                img#btnInfoRightOfUse(src="/img/project/info.svg", alt="" class="ml-2 w-5 cursor-pointer")

        #sectionBottom(class="w-full flex px-10 mt-10 mb-8") 
            if user
                #comments(class="w-2/6") 
                    h2(class="text-3xl my-4") Comentarios 
                    .myComment(class="flex items-start mb-8")
                        img(src=user.image_url, alt="" class="w-14 mr-2")
                        div(class="bg-gray-200 rounded-[10px] rounded-tl-[0px] w-full")
                            textarea#commentText(name="commentText" placeholder="Agrega un comentario" class="bg-transparent p-3 pl-6 w-full h-20 outline-none resize-none")
                            div.flex.items-center.justify-between
                                div(class="flex text-xs ml-4 text-principal-gray")
                                    p#countText 0 
                                    span /500
                                span#commentError(class="invisible text-red-600 ml-4 text-xs")
                                button#btnComment(class="rounded-lg shadow-lg border border-principal-gray float-right p-[5px] px-4 m-2 mr-4 hover:bg-gray-input") Comentar
                
                    #generalComments(class="h-fit max-h-96 overflow-auto pt-2 pr-4")
                    div#seeMoreButton(class="w-fit m-auto text-center cursor-pointer rounded-3xl p-2 hover:bg-gray-200")
                        p(class="mb-[-5px]") Ver más
                        i(class="fa-solid fa-angles-down")

                    div#noComments(class="hidden")
                        p(class="text-2xl text-gray-500 text-center") Todavia no hay comentarios 
                        img(src="/img/project/comments.svg", alt="No comments" class="m-auto my-5 w-40")
            else  
                div(class="w-2/6 bg-gray-300 flex flex-col justify-around items-center h-96 rounded p-6")
                    h4.text-center
                        span(class="font-bold text-3xl") 
                            a(href="/auth/signup" class="hover:opacity-60") Registrate 
                            span o 
                            a(href="/auth/login" class="hover:opacity-60") Inicia Sesión
                        span(class="block text-xl") para ver los comentarios
                    img(src="/img/project/comments.svg", alt="" class="h-48")

            #rightSectionBottom(class="w-3/5 ml-24") 
                #ratingSection
                    h4(class="text-3xl") Valoración de la imagen
                    .flex.mt-2 
                        p#averageRating(class="text-6xl")
                        div(class="flex flex-col justify-center ml-4")
                            .ratingGeneral.flex.gap-2
                                i(class="fa-solid fa-star starGeneral")
                                i(class="fa-solid fa-star starGeneral")
                                i(class="fa-solid fa-star starGeneral")
                                i(class="fa-solid fa-star starGeneral")
                                i(class="fa-solid fa-star starGeneral")
                            p(class="text-center text-gray-300") Basado en 
                                span#totalOpinions


                if recomendations.length > 0
                    #recomendations
                        h3(class="text-3xl mb-5 text-principal-gray") Otras imágenes que pueden gustarte 
                        #imgsRecomendations
                            #slideTrack
                                each recomendation in recomendations 
                                        a(href=`/publications/${recomendation.id}` class="slide") 
                                            img(src=`/uploads/${recomendation.image}`, alt=`${recomendation.title}`)
                else
                    h3(class="text-3xl my-5 text-principal-gray") Otras imágenes que pueden gustarte 
                    div(class="w-5/6 h-72 bg-gray-300 rounded p-6 flex flex-col justify-between")
                        .flex.justify-between 
                            p.text-3xl ¡Explora nuestras recomendaciones más adelante!"
                            i(class="fa-solid fa-clock text-6xl")
                        p.text-lg.text-secondary-gray Nuestras recomendaciones se renuevan constantemente. ¡Vuelve pronto para descubrir nuevas imágenes que podrían interesarte!
                            

    if user 
        div#editPublication(class="hidden w-full h-screen fixed bottom-0 left-0 flex items-center justify-center bg-neutral-800 bg-opacity-40")
            div(class="bg-white py-4 px-8 w-2/5") 
                div(class="flex justify-between") 
                    p.text-gray-400 Editando 
                    button#btnCloseEdit(class="fa-solid fa-xmark") 

                form(id="formEdit" method="PUT" enctype="multipart/form-data" class="flex flex-col gap-4")
                    div.flex.flex-col.gap-4.mt-8
                        label(for="title") Titulo
                        input(id="titleEdit" type="text" name="title" placeholder="Agrega un titulo" class="border-b-2 border-secondary-gray text-xl focus:outline-none pb-1 pl-3 m-auto w-full" value= publication.title)
                        span(id="errTitle").text-red-500.text-xs.hidden

                    div 
                        label(for="category") Categoría
                        select(id="categoriesEdit" name="category" class="block w-64 h-10 rounded-md pl-4 bg-gray-100")
                            option(value="") - Seleccionar - 
                            each category in categories 
                                option(value= category.id selected=(category.id === publication.category_id))= category.name
                        span(id="errCategory").text-red-500.text-xs.hidden

                    div 
                        .flex.justify-between.items-center
                            label(for="tag") Etiquetas 
                            span(id="errTag").text-red-500.text-xs.hidden
                        input(id="tagEdit" type="text" placeholder="Ingrese sus etiquetas ( presione enter para agregar )" class="block w-full border border-secondary-gray rounded-md py-1.5 pl-4 focus:outline-none")
                        ul(id="tagsEdit").w-full.flex.gap-2
                            each tag in tags
                                div(class="tag flex justify-between items-center")
                                    li= tag.name
                                    span(class="btnDeleteTag") 
                                        svg(style="enable-background:new 0 0 24 24;" version="1.1" viewBox="0 0 24 24" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                                            g(id="info")
                                                g(id="icons")
                                                    path(d="M14.8,12l3.6-3.6c0.8-0.8,0.8-2,0-2.8c-0.8-0.8-2-0.8-2.8,0L12,9.2L8.4,5.6c-0.8-0.8-2-0.8-2.8,0   c-0.8,0.8-0.8,2,0,2.8L9.2,12l-3.6,3.6c-0.8,0.8-0.8,2,0,2.8C6,18.8,6.5,19,7,19s1-0.2,1.4-0.6l3.6-3.6l3.6,3.6   C16,18.8,16.5,19,17,19s1-0.2,1.4-0.6c0.8-0.8,0.8-2,0-2.8L14.8,12z" id="exit")
                    
                    div(class="w-1/3") 
                        select#rightsOfUse(name="rightsOfUse" class="bg-principal-gray text-white py-2 px-4  font-normal text-sm").w-full
                            each right in rightsOfUse 
                                option(value= right.id selected=(right.id === publication.rights_of_use_id))= right.name
                    span(id="errRightOfUse").text-red-500.text-xs.hidden.absolute.top-7.mt-3

                    button#btnSave(type="submit" class="bg-green-700 text-white font-normal mt-4 mr-2 w-28 p-2") Guardar

        div#deletePublication(class="hidden w-full h-screen fixed bottom-0 left-0 flex items-center justify-center bg-neutral-800 bg-opacity-40 z-20")
            div#viewDelete(class="bg-white px-16 pt-12 pb-6 w-3/5 flex flex-col justify-between h-3/5") 
                div(class="h-3/4 flex flex-col justify-between items-center")
                    img(src="/img/project/deleteUnDraw.svg", alt="Lustracion eliminar" class="w-96")
                    h5#titleDelete(class="text-4xl font-bold text-principal-gray") Eliminar Publicación 
                    p#textDelete(class="text-lg text-principal-gray text-center") ¿Estás seguro de que deseas eliminar esta publicación? Ten en cuenta que esta acción no se puede deshacer y la publicación no podrá ser recuperada.

                div#btnsDeleteOrCancel
                    button#btnConfirmDelete(class="block bg-red-600 text-white font-semibold w-64 m-auto p-3 hover:opacity-75") Eliminar
                    button#btnCancelDelete(class="block bg-transparent font-semibold text-secondary-gray w-24 m-auto mt-2 p-2 rounded-3xl hover:text-principal-gray hover:bg-gray-input") Cancelar


    if !user
        div#alertLogin(class="w-full h-screen fixed bottom-0 left-0 flex items-center justify-center bg-neutral-800 bg-opacity-40").hidden
            div(class="w-2/5 bg-white p-10 text-center relative")
                i#btnCloseAlertLogin(class="fa-solid fa-xmark absolute left-3 top-3 cursor-pointer")
                div 
                    h4.font-medium.text-4xl.mb-2 Inicia Sesion 
                    p Debes iniciar sesión para poder calificar la imagen
                a(href="/auth/login") 
                    button#btnGoLogin(class="mt-10 bg-principal-gray hover:bg-secondary-gray h-11 w-52 m-auto text-polished-white") Ir a iniciar sesión

    if user
        template#templateComment
            div(class="comment mb-8")
                div.flex                
                    div(class="commentUserImage w-14 h-14 mr-2 bg-cover bg-center bg-no-repeat" style=`background-image: url(${user.image_url ? `/img/profiles/${user.image_url}` : '/img/profiles/profilePredeterminated.png'})`) 
                    
                    div(class="flex flex-col w-full")
                        div(class="flex justify-between w-full mt-[-10px]")
                            p.commentFullName.font-bold.text-principal-gray= `${user.name} ${user.lastname}`
                            p.commentTimeThatPassed.text-gray-600.text-sm

                        div(class="divCommentOptions bg-gray-200 rounded-[10px] rounded-tl-[0px] min-h-[50px] p-3 pl-5 relative") 
                            button(class="btnCommentOptions absolute right-2 top-0")
                                img(src="/img/project/options-horizontal.svg", alt="comment options" class="w-4 cursor-hover")
                            div(class="hidden commentOptions absolute bg-gray-200 top-4 right-0 w-28 shadow-xl border border-gray-400 rounded") 
                                div(class="btnCommentDelete flex justify-around items-center hover:bg-gray-300 p-3 cursor-pointer")
                                    i(class="fa-solid fa-trash text-red-700 text-xs")
                                    p.text-red-700.text-xs Eliminar 

                            p.commentDescription

        template#templateComment2
            div(class="comment mb-8")
                div.flex                
                    div(class="commentUserImage w-14 h-14 mr-2 bg-cover bg-center bg-no-repeat") 
                    
                    div(class="flex flex-col w-full")
                        div(class="flex justify-between w-full mt-[-10px]")
                            p.commentFullName.font-bold.text-principal-gray
                            p.commentTimeThatPassed.text-gray-600.text-sm

                        div(class="divCommentOptions bg-gray-200 rounded-[10px] rounded-tl-[0px] min-h-[50px] p-3 pl-5 relative") 
                            button(class="hidden btnCommentOptions absolute right-2 top-0")
                                img(src="/img/project/options-horizontal.svg", alt="comment options" class="w-4 cursor-hover")
                            div(class="hidden commentOptions absolute bg-gray-200 top-4 right-0 w-28 shadow-xl border border-gray-400 rounded") 
                                div(class="btnCommentDelete flex justify-around items-center hover:bg-gray-300 p-3 cursor-pointer")
                                    i(class="fa-solid fa-trash text-red-700 text-xs")
                                    p.text-red-700.text-xs Eliminar 

                            p.commentDescription

    
                        
block scripts
    if user.id === userPost.id
        script(src="/js/editPublication.js")
        script(src="/js/deletePublication.js")
    
    if user 
        script(src="/js/getComments.js")
        script(src="/js/addComment.js")

    script(src="https://kit.fontawesome.com/e6a1497caa.js" crossorigin="anonymous")
    script(src="/js/clicksPublication.js")
    script(src="/js/sliderRecomendations.js")
    script(src="/js/modifyRating.js")
    script(src="/js/getOverallRating.js")
    
    