extends ../../layout/index

block styles 
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.1/cropper.min.css" integrity="sha512-hvNR0F/e2J7zPPfLC9auFe3/SE0yG4aJCOd/qxew74NN7eyiSKjr7xJJMu1Jy2wf7FXITpWS1E/RY8yzuXN7VA==" crossorigin="anonymous" referrerpolicy="no-referrer")

block contenido
    include ../../layout/header

    main(class="px-6 py-10 lg:flex") 
        //- Este aside debo pasarlo a otro archivo ya que lo usare en otra parte tambien
        aside(class="bg-white mb-4 lg:mb-0 shadow-2xl lg:w-1/4 h-fit")
            h1(class="border-principal-gray border-b-2 font-semibold text-xl p-4") Editar perfil 
            a(href="/users/account") 
                div(class="bg-gray-300 text-lg p-4 group") 
                    span(class="group-hover:underline") Informacion personal
            a(href="/users/account/password") 
                div(class="text-lg p-4 group")  
                    span(class="group-hover:underline") Cambiar contraseña
        
        section(class="bg-white shadow-2xl lg:w-3/4 lg:ml-6")
            
            form(method="POST" enctype="multipart/form-data" action=`?_csrf=${csrfToken}`) 
                //- input(type="hidden" name="_csrf" value=csrfToken)
                
                div#profilePhotos(class="relative h-52")
                    
                    div#coverPhoto(class="h-52 w-full")
                        img(src=user.cover_url ? `/img/covers/${user.cover_url}` : '/img/covers/greenViolet.png' alt="Imagen de portada" class="h-full w-full") 
                        
                        //- Covers
                        each cover in covers
                            input(type="radio" name="cover-radio" value=cover id= cover checked=cover == user.cover_url class="hidden")

                    div(class="absolute top-[20%] left-7 flex")
                        div#profilePicture(class="md:border-4 border-polished-white w-32")
                            img#avatarImage(src=user.image_url ? `/img/profiles/${user.image_url}` : '/img/profiles/profilePredeterminated.png' alt="Imagen de perfil" class="")
                        
                        div(class="grid place-content-center p-5")
                            span(class="text-center text-2xl text-white mb-4")= user.name + " " + user.lastname
                            
                            //- ------------------------------------------------------------
                            label(for="avatarInput" class="cursor-pointer w-fit flex gap-2 items-center bg-white text-sm text-blue-800 px-2 py-1 rounded-full border-2 border-transparent hover:border-blue-400 transition m-auto sm:m-0")
                                i(class="fa-solid fa-pen")
                                span Cambiar avatar
                            input#avatarInput(type="file" name="avatar" class="hidden" accept=".png,.jpg,.jpeg")
                            //- input#avatarInput2(type="file" name="avatar" class="")
                        
                    button#coverBtn(type="button" class="absolute right-0 sm:bottom-0 mb-4 mr-6 w-fit flex gap-2 items-center mt-2 sm:mt-0 bg-blue-800 text-white sm:bg-white text-sm sm:text-blue-800 px-2 py-1 rounded-full border-2 border-transparent hover:border-blue-400 transition")
                        i(class="fa-solid fa-pen")
                        span Cambiar portada
                +getErrorMsg('avatar')

                div#fields(class="mt-8 md:space-y-6 p-4")
                    div(class="md:flex space-y-4 md:space-y-0")

                        div(class="md:w-1/2 md:mx-8") 
                            label(for="name" class="block") 
                                span(class="block  text-slate-500 text-lg font-light") Nombre
                            input(type="text" name="name" class="mt-1 px-3 py-2 bg-transparent border-2 shadow-sm border-secondary-gray placeholder-secondary-gray focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full focus:ring-1" placeholder="Tu nombre" value= user.name)
                            div(class="flex flex-col")
                                +getErrorMsg('name')

                        div(class="md:w-1/2 md:mx-6") 
                            label(for="lastname" class="block") 
                                span(class="block  text-slate-500 text-lg font-light") Apellido
                            input(type="text" name="lastname" class="mt-1 px-3 py-2 bg-transparent border-2 shadow-sm border-secondary-gray placeholder-secondary-gray focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full focus:ring-1" placeholder="Tu apellido" value= user.lastname)
                            div(class="flex flex-col")
                                +getErrorMsg('lastname')

                    div(class="mt-4 md:mt-0") 
                        div(class="md:w-1/2 md:pl-8 md:pr-6") 
                            label(for="username" class="block") 
                                span(class="block text-slate-500 text-lg font-light") Nombre de usuario
                            input(type="text" name="username" class="mt-1 px-3 py-2 bg-transparent border-2 shadow-sm border-secondary-gray placeholder-secondary-gray focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full focus:ring-1" placeholder="Tu apellido" value= user.username)
                            div(class="flex flex-col")
                                +getErrorMsg('username')

                div(class="w-full h-fit sm:text-right p-4")
                    button#btnSave(type="submit" class="bg-green-700 text-white font-normal w-full sm:w-44 p-3 mt-10 sm:m-8 md:mt-20 hover:opacity-90") Guardar
        
        if save 
            #alertSucces(class="flex absolute top-16 sm:left-1/3 items-center p-4 rounded-lg shadow-2xl bg-green-50 text-green-400 border w-80 justify-between" role='alert')
                .flex
                    i(class="fa-solid fa-circle-check text-2xl")
                    div.ml-3.text-sm.font-medium
                        span Datos actualizados
                button(type='button', class='ml-4 bg-green-50 text-green-500 rounded-lg focus:ring-2 focus:ring-green-400 p-1.5 hover:bg-green-200 inline-flex items-center justify-center h-8 w-8', data-dismiss-target='#alert-3', aria-label='Close')
                    i(class="fa-solid fa-circle-xmark text-lg")
        //- pre= JSON.stringify(errores, undefined, 2)

        .modal(class="hidden opacity-0 bg-black bg-opacity-25 backdrop-blur-sm fixed bottom-0 left-0 right-0 top-0 w-full h-full overflow-auto justify-center items-center  p-5 transition-all duration-150 ease-in-out") 
            
            .modal-content(class="hidden opacity-0 w-11/12 m-auto bg-white rounded-lg overflow-hidden transform scale-90 transition-all duration-400 delay-300 ease-linear") 
                
                .modal-header(class="w-full py-5 px-2 text-center bg-slate-50 shadow-md text-lg") 
                    p Recorta tu foto 
                
                .modal-body(class="flex content-between items-start gap-2 py-4 px-2") 
                    
                    .content-image-cropper(class="w-4/5 h-96 p-1 outline outline-1") 
                        img(src="", alt="" class="img-cropper" id="img-cropper" class="w-full")
                    
                    .content-image-sample(class="h-52 w-52 outline outline-1 rounded-full overflow-hidden") 
                        .img-sample#img-croppered(class="h-full w-full") 
                
                .modal-footer(class="w-full p-2 text-center bg-slate-50 shadow-md text-lg flex items-center content-end gap-4") 
                    button(class="btn primary" id="btn-cut" class="border-none py-3 px-16 rounded-md cursor-pointer text-white bg-principal-gray hover:opacity-90") Recortar 
                    button(class="btn secundary" id="btn-close" class="border-none py-3 px-16 rounded-md cursor-pointer text-white bg-secondary-gray hover:opacity-90") Cancelar 

        .modalCover(class="hidden bg-black bg-opacity-25 backdrop-blur-sm fixed bottom-0 left-0 right-0 top-0 w-full h-full overflow-auto flex justify-center items-center p-5")
            
            .modalCover-content(class="w-11/12 xl:h-80 m-auto bg-white rounded-lg overflow-y-auto") 
                
                .modal-header(class="w-full py-5 px-8 text-center bg-slate-50 shadow-md text-lg flex justify-between") 
                    p Elige un color
                    button(class="fa-solid fa-xmark hover:text-red-600 btnClose")
                
                .modal-body(class="flex justify-around gap-2 flex-wrap py-4 px-2") 
                    each cover in covers
                        label(class="group cursor-pointer w-96" for= cover class="label-cover")
                            img(src=`/img/covers/${cover}` class=`group-hover:opacity-80 group-hover:border-gray-400 border-2 ${user.cover_url == cover ? "border-4 border-indigo-500 shadow-lg label-checked" : ""}`)


block scripts
    script(src="https://kit.fontawesome.com/e6a1497caa.js" crossorigin="anonymous")
    if save
        script(src="/js/alertAccount.js") 

    script(src="/js/picturesAccount.js") 
    script(src="/js/coverAccount.js") 
